/*#####################################
INÍCIA SECCIÓN COMPONENTE NOSOTROS
#####################################*/

.nosotros {
  @include generar-box-shadow($color-oscuro);
  @include backGround-cards;
  &-contenedor-imagen {
    height: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 90%;
      height: 90%;
    }
  }
  .descripcion-nosotros {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
  }
  a {
    color: $color-principal;
  }
}

/*#####################################
FINALIZA SECCIÓN COMPONENTE NOSTROS
#####################################*/
