@import "../style/global.scss";

.hero h1 {
  font-weight: 800;
  position: relative;
  color: $color-principal;
}

.hero p {
  color: $color-secundario;
  font-weight: 500;
  font-size: 1.2rem;
}

.contenedor-slider {
  @include border-images($color-principal);
  @include generar-box-shadow($color-oscuro);
  
  &-img {
    width: 100%;
    height: 350px;
    display: flex !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: inherit;
      object-position: center center;
    }
  }
}
