@import "./style/global.scss";
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $principal-font-family;
  @include linear-gradiente-fondo;
  color: $color-secundario;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Boton customizado contactanos INICIO*/
#custom-button {
  padding: 10px;
  border: 2px solid $color-principal;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: $letra-normal;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: $color-principal;
  opacity: 0.75;
}

#custom-button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: $color-principal;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
  opacity: 0.75;
}
#custom-button:hover::before {
  width: 105%;
}

#custom-button:hover {
  color: $color-claro;
}
/* Boton customizado contactanos FIN*/

#btn-ver-mas {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

#btn-ver-mas.ver-mas {
  width: 12rem;
  height: auto;
}

#btn-ver-mas.ver-mas .ver-mas__circulo {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: $color-principal;
  border-radius: 1.625rem;
}

#btn-ver-mas.ver-mas .ver-mas__circulo .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: $color-claro;
}

#btn-ver-mas.ver-mas .ver-mas__circulo .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

#btn-ver-mas.ver-mas .ver-mas__circulo .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid $color-claro;
  border-right: 0.125rem solid $color-claro;
  transform: rotate(45deg);
  
}

#btn-ver-mas.ver-mas .boton-texto {
  font-size: $letra-normal;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: $color-principal;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

#btn-ver-mas:hover .ver-mas__circulo {
  width: 100%;
  border-radius: 0;
}

#btn-ver-mas:hover .ver-mas__circulo .icon.arrow {
  background: $color-claro;
  transform: translate(1rem, 0);
}

#btn-ver-mas:hover .boton-texto {
  color: $color-claro;
}

/*Boton ver mas customizado INICIO*/
