@import "./style/global.scss";
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $principal-font-family;
  @include linear-gradiente-fondo;
  color: $color-secundario;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#custom-button {
  padding: 10px;
  border: 2px solid $color-principal;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: $letra-normal;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: $color-principal;
  opacity: 0.75;
}

#custom-button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: $color-principal;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
  opacity: 0.75;
}
#custom-button:hover::before {
  width: 105%;
}

#custom-button:hover {
  color: $color-claro;
}




